<p id="notice"><%= notice %></p>

<h1>Schedules</h1>



<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td class='name_sch' width=48%><%= link_to schedule.name, schedule %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to image_tag("pill_add.png", border: 0, height: 36), new_schedule_path %>